In [124]:
from langchain_core.messages import AIMessage, HumanMessage, SystemMessage
import sqlite3
import os
from langchain_openai import ChatOpenAI
from langchain_core.prompts import ChatPromptTemplate, MessagesPlaceholder
from langchain.agents import tool as langchain_tool
import json
from src.constants import schema_dict
from src.prompts import FINANCIAL_ANALYST_AGENT_PROMPT
from langchain.agents import create_tool_calling_agent, AgentExecutor
from langchain.memory import ConversationBufferMemory

In [58]:
@langchain_tool
def sql_query_executor_tool(query: str) -> str:
    """This function connects to the database, executes query and returns result
    
    Parameters:
    query (str): SQL query to be executed

    Returns:
    str: Resulf of SQL query in JSON format
    """

    print(f"\n--- üõ†Ô∏è Tool Called: search_information with query: '{query}' ---")

    conn = sqlite3.connect(os.environ["DB_NAME"])
    conn.row_factory = sqlite3.Row
    cur = conn.cursor()
    
    result = cur.execute(query)
    column_names = [desc[0] for desc in result.description]
    # print(f"\n\nColumn names: {column_names}\n\n")
    rows = result.fetchall()
    # print(f"\n\nRows: {rows}\n\n")
    final_data_rows = [dict(zip(column_names, row)) for row in rows]
    print(final_data_rows)
    conn.close()
    return final_data_rows

In [59]:
try:
    llm = ChatOpenAI(model=os.environ["LLM_MODEL"], temperature=0)
except Exception as e:
    print(f"\n\nError initializing ChatOpenAI: \n{e}")

In [ ]:

agent_prompt = ChatPromptTemplate.from_messages([
    ("system", FINANCIAL_ANALYST_AGENT_PROMPT),
    ("human", "{user_query}"),
    ("placeholder", "{agent_scratchpad}")
])

In [125]:
tools = [sql_query_executor_tool]
# Create the agent, binding the LLM, tools, and prompt together.
agent = create_tool_calling_agent(
    llm=llm,
    tools=[sql_query_executor_tool],
    prompt=agent_prompt,
)

class AgentMemory(ConversationBufferMemory):
    """Custom memory class to handle conversation history."""
    def load_memory_variables(self, inputs):
        """Load memory variables, ensuring chat history is included."""
        memory_variables = super().load_memory_variables(inputs)
        return memory_variables
    
    def save_context(self, inputs: dict, outputs: dict) -> None:
        # Intercept inputs/outputs before saving
        print("üîç Intercepted Inputs:", inputs)
        print("üîç Intercepted Outputs:", outputs)
        
        # Example: Drop tool calls from memory
        clean_outputs = {"output": outputs["output"].replace("[TOOL_CALL]", "")}
        
        # Call parent with modified values
        super().save_context(inputs, clean_outputs)


memory = AgentMemory(memory_key="chat_history", return_messages=True)
#  AgentExecutor is the runtime that invokes the agent and executes the chosen tools.
#  The 'tools' argument is not needed here as they are already bound to the agent.
agent_executor = AgentExecutor(agent=agent, verbose=True, tools=tools, max_iterations=1, 
                               return_intermediate_steps=True, memory=memory)

In [126]:
response = agent_executor.invoke({
    "user_query": "Give me the summary of the all the tables, range data points, number of records etc.",
    "db_schema": json.dumps(schema_dict, indent=2)
})

> Entering new AgentExecutor chain...

Invoking: `sql_query_executor_tool` with `{'query': "SELECT 'cities' AS table_name, COUNT(*) AS row_count FROM cities;"}`



--- üõ†Ô∏è Tool Called: search_information with query: 'SELECT 'cities' AS table_name, COUNT(*) AS row_count FROM cities;' ---
[{'table_name': 'cities', 'row_count': 96}]
[{'table_name': 'cities', 'row_count': 96}]
Invoking: `sql_query_executor_tool` with `{'query': "SELECT 'countries' AS table_name, COUNT(*) AS row_count FROM countries;"}`



--- üõ†Ô∏è Tool Called: search_information with query: 'SELECT 'countries' AS table_name, COUNT(*) AS row_count FROM countries;' ---
[{'table_name': 'countries', 'row_count': 206}]
[{'table_name': 'countries', 'row_count': 206}]
Invoking: `sql_query_executor_tool` with `{'query': "SELECT 'customers' AS table_name, COUNT(*) AS row_count FROM customers;"}`



--- üõ†Ô∏è Tool Called: search_information with query: 'SELECT 'customers' AS table_name, COUNT(*) AS row_count FROM customers;' ---
[{'table_name': 'customers', 'row_count': 98759}]
[{'table_name': 'customers', 'row_count': 98759}]
Invoking: `sql_query_executor_tool` with `{'query': "SELECT 'employees' AS table_name, COUNT(*) AS row_count FROM employees;"}`



--- üõ†Ô∏è Tool Called: search_information with query: 'SELECT 'employees' AS table_name, COUNT(*) AS row_count FROM employees;' ---
[{'table_name': 'employees', 'row_count': 23}]
[{'table_name': 'employees', 'row_count': 23}]
Invoking: `sql_query_executor_tool` with `{'query': "SELECT 'products' AS table_name, COUNT(*) AS row_count FROM products;"}`



--- üõ†Ô∏è Tool Called: search_information with query: 'SELECT 'products' AS table_name, COUNT(*) AS row_count FROM products;' ---
[{'table_name': 'products', 'row_count': 452}]
[{'table_name': 'products', 'row_count': 452}]
Invoking: `sql_query_executor_tool` with `{'query': "SELECT 'sales' AS table_name, COUNT(*) AS row_count FROM sales;"}`



--- üõ†Ô∏è Tool Called: search_information with query: 'SELECT 'sales' AS table_name, COUNT(*) AS row_count FROM sales;' ---
[{'table_name': 'sales', 'row_count': 6800}]
[{'table_name': 'sales', 'row_count': 6800}]
Invoking: `sql_query_executor_tool` with `{'query': "SELECT 'cities' AS table_name, MIN(CityID) AS min_CityID, MAX(CityID) AS max_CityID, MIN(Zipcode) AS min_Zipcode, MAX(Zipcode) AS max_Zipcode, MIN(CountryID) AS min_CountryID, MAX(CountryID) AS max_CountryID FROM cities;"}`



--- üõ†Ô∏è Tool Called: search_information with query: 'SELECT 'cities' AS table_name, MIN(CityID) AS min_CityID, MAX(CityID) AS max_CityID, MIN(Zipcode) AS min_Zipcode, MAX(Zipcode) AS max_Zipcode, MIN(CountryID) AS min_CountryID, MAX(CountryID) AS max_CountryID FROM cities;' ---
[{'table_name': 'cities', 'min_CityID': 1, 'max_CityID': 96, 'min_Zipcode': 157, 'max_Zipcode': 97859, 'min_CountryID': 32, 'max_CountryID': 32}]
[{'table_name': 'cities', 'min_CityID': 1, 'max_CityID': 96, 'min_Zipcode': 157, 'max_Zipcode': 97859, 'min_CountryID': 32, 'max_CountryID': 32}]
Invoking: `sql_query_executor_tool` with `{'query': "SELECT 'countries' AS table_name, MIN(CountryID) AS min_CountryID, MAX(CountryID) AS max_CountryID FROM countries;"}`



--- üõ†Ô∏è Tool Called: search_information with query: 'SELECT 'countries' AS table_name, MIN(CountryID) AS min_CountryID, MAX(CountryID) AS max_CountryID FROM countries;' ---
[{'table_name': 'countries', 'min_CountryID': 1, 'max_CountryID': 206}]
[{'table_name': 'countries', 'min_CountryID': 1, 'max_CountryID': 206}]
Invoking: `sql_query_executor_tool` with `{'query': "SELECT 'customers' AS table_name, MIN(CustomerID) AS min_CustomerID, MAX(CustomerID) AS max_CustomerID, MIN(CityID) AS min_CityID, MAX(CityID) AS max_CityID FROM customers;"}`



--- üõ†Ô∏è Tool Called: search_information with query: 'SELECT 'customers' AS table_name, MIN(CustomerID) AS min_CustomerID, MAX(CustomerID) AS max_CustomerID, MIN(CityID) AS min_CityID, MAX(CityID) AS max_CityID FROM customers;' ---
[{'table_name': 'customers', 'min_CustomerID': 1, 'max_CustomerID': 98759, 'min_CityID': 1, 'max_CityID': 96}]
[{'table_name': 'customers', 'min_CustomerID': 1, 'max_CustomerID': 98759, 'min_CityID': 1, 'max_CityID': 96}]
Invoking: `sql_query_executor_tool` with `{'query': "SELECT 'employees' AS table_name, MIN(EmployeeID) AS min_EmployeeID, MAX(EmployeeID) AS max_EmployeeID, MIN(BirthDate) AS min_BirthDate, MAX(BirthDate) AS max_BirthDate, MIN(HireDate) AS min_HireDate, MAX(HireDate) AS max_HireDate FROM employees;"}`



--- üõ†Ô∏è Tool Called: search_information with query: 'SELECT 'employees' AS table_name, MIN(EmployeeID) AS min_EmployeeID, MAX(EmployeeID) AS max_EmployeeID, MIN(BirthDate) AS min_BirthDate, MAX(BirthDate) AS max_BirthDate, MIN(HireDate) AS min_HireDate, MAX(HireDate) AS max_HireDate FROM employees;' ---
[{'table_name': 'employees', 'min_EmployeeID': 1, 'max_EmployeeID': 23, 'min_BirthDate': '1951-07-07 00:00:00.000', 'max_BirthDate': '1989-08-29 00:00:00.000', 'min_HireDate': '2010-02-22 21:55:48.620', 'max_HireDate': '2017-02-10 11:21:26.650'}]
[{'table_name': 'employees', 'min_EmployeeID': 1, 'max_EmployeeID': 23, 'min_BirthDate': '1951-07-07 00:00:00.000', 'max_BirthDate': '1989-08-29 00:00:00.000', 'min_HireDate': '2010-02-22 21:55:48.620', 'max_HireDate': '2017-02-10 11:21:26.650'}]
Invoking: `sql_query_executor_tool` with `{'query': "SELECT 'products' AS table_name, MIN(ProductID) AS min_ProductID, MAX(ProductID) AS max_ProductID, MIN(Price) AS min_Price, MAX(Price) AS max_Price, MIN(CategoryID) AS min_CategoryID, MAX(CategoryID) AS max_CategoryID, MIN(VitalityDays) AS min_VitalityDays, MAX(VitalityDays) AS max_VitalityDays FROM products;"}`



--- üõ†Ô∏è Tool Called: search_information with query: 'SELECT 'products' AS table_name, MIN(ProductID) AS min_ProductID, MAX(ProductID) AS max_ProductID, MIN(Price) AS min_Price, MAX(Price) AS max_Price, MIN(CategoryID) AS min_CategoryID, MAX(CategoryID) AS max_CategoryID, MIN(VitalityDays) AS min_VitalityDays, MAX(VitalityDays) AS max_VitalityDays FROM products;' ---
[{'table_name': 'products', 'min_ProductID': 1, 'max_ProductID': 452, 'min_Price': 0.0449, 'max_Price': 99.8755, 'min_CategoryID': 1, 'max_CategoryID': 11, 'min_VitalityDays': 0.0, 'max_VitalityDays': 120.0}]
[{'table_name': 'products', 'min_ProductID': 1, 'max_ProductID': 452, 'min_Price': 0.0449, 'max_Price': 99.8755, 'min_CategoryID': 1, 'max_CategoryID': 11, 'min_VitalityDays': 0.0, 'max_VitalityDays': 120.0}]
Invoking: `sql_query_executor_tool` with `{'query': "SELECT 'sales' AS table_name, MIN(SalesID) AS min_SalesID, MAX(SalesID) AS max_SalesID, MIN(SalesPersonID) AS min_SalesPersonID, MAX(SalesPersonID) AS max_SalesPersonID, MIN(CustomerID) AS min_CustomerID, MAX(CustomerID) AS max_CustomerID, MIN(ProductID) AS min_ProductID, MAX(ProductID) AS max_ProductID, MIN(Quantity) AS min_Quantity, MAX(Quantity) AS max_Quantity, MIN(Discount) AS min_Discount, MAX(Discount) AS max_Discount, MIN(TotalSalesAmount) AS min_TotalSalesAmount, MAX(TotalSalesAmount) AS max_TotalSalesAmount, MIN(CityID) AS min_CityID, MAX(CityID) AS max_CityID, MIN(CountryID) AS min_CountryID, MAX(CountryID) AS max_CountryID, MIN(SalesDate) AS min_SalesDate, MAX(SalesDate) AS max_SalesDate FROM sales;"}`



--- üõ†Ô∏è Tool Called: search_information with query: 'SELECT 'sales' AS table_name, MIN(SalesID) AS min_SalesID, MAX(SalesID) AS max_SalesID, MIN(SalesPersonID) AS min_SalesPersonID, MAX(SalesPersonID) AS max_SalesPersonID, MIN(CustomerID) AS min_CustomerID, MAX(CustomerID) AS max_CustomerID, MIN(ProductID) AS min_ProductID, MAX(ProductID) AS max_ProductID, MIN(Quantity) AS min_Quantity, MAX(Quantity) AS max_Quantity, MIN(Discount) AS min_Discount, MAX(Discount) AS max_Discount, MIN(TotalSalesAmount) AS min_TotalSalesAmount, MAX(TotalSalesAmount) AS max_TotalSalesAmount, MIN(CityID) AS min_CityID, MAX(CityID) AS max_CityID, MIN(CountryID) AS min_CountryID, MAX(CountryID) AS max_CountryID, MIN(SalesDate) AS min_SalesDate, MAX(SalesDate) AS max_SalesDate FROM sales;' ---
[{'table_name': 'sales', 'min_SalesID': 1755, 'max_SalesID': 6757874, 'min_SalesPersonID': 1, 'max_SalesPersonID': 23, 'min_CustomerID': 76, 'max_CustomerID': 98350, 'min_ProductID': 1, 'max_ProductID': 452, 'min_Quantity': 1, 'max_Quantity': 25, 'min_Discount': 0.0, 'max_Discount': 0.2, 'min_TotalSalesAmount': 10.10826312013304, 'max_TotalSalesAmount': 999.8792377122128, 'min_CityID': 1, 'max_CityID': 96, 'min_CountryID': 32, 'max_CountryID': 32, 'min_SalesDate': '2018-01-01 00:20:26.330', 'max_SalesDate': '2018-05-09 23:24:50.230'}]
[{'table_name': 'sales', 'min_SalesID': 1755, 'max_SalesID': 6757874, 'min_SalesPersonID': 1, 'max_SalesPersonID': 23, 'min_CustomerID': 76, 'max_CustomerID': 98350, 'min_ProductID': 1, 'max_ProductID': 452, 'min_Quantity': 1, 'max_Quantity': 25, 'min_Discount': 0.0, 'max_Discount': 0.2, 'min_TotalSalesAmount': 10.10826312013304, 'max_TotalSalesAmount': 999.8792377122128, 'min_CityID': 1, 'max_CityID': 96, 'min_CountryID': 32, 'max_CountryID': 32, 'min_SalesDate': '2018-01-01 00:20:26.330', 'max_SalesDate': '2018-05-09 23:24:50.230'}]
üîç Intercepted Inputs: {'user_query': 'Give me the summary of the all the tables, range data points, number of records etc.', 'db_schema': '{\n  "tables": {\n    "cities": {\n      "schema": {\n        "CityID": "INTEGER",\n        "CityName": "TEXT",\n        "Zipcode": "INTEGER",\n        "CountryID": "INTEGER"\n      },\n      "sample_rows": [\n        {\n          "CityID": 1,\n          "CityName": "Dayton",\n          "Zipcode": 80563,\n          "CountryID": 32\n        },\n        {\n          "CityID": 2,\n          "CityName": "Buffalo",\n          "Zipcode": 17420,\n          "CountryID": 32\n        }\n      ]\n    },\n    "countries": {\n      "schema": {\n        "CountryID": "INTEGER",\n        "CountryName": "TEXT",\n        "CountryCode": "TEXT"\n      },\n      "sample_rows": [\n        {\n          "CountryID": 1,\n          "CountryName": "Armenia",\n          "CountryCode": "AN"\n        },\n        {\n          "CountryID": 2,\n          "CountryName": "Canada",\n          "CountryCode": "FO"\n        }\n      ]\n    },\n    "customers": {\n      "schema": {\n        "CustomerID": "INTEGER",\n        "FirstName": "TEXT",\n        "MiddleInitial": "TEXT",\n        "LastName": "TEXT",\n        "CityID": "INTEGER",\n        "Address": "TEXT"\n      },\n      "sample_rows": [\n        {\n          "CustomerID": 1,\n          "FirstName": "Stefanie",\n          "MiddleInitial": "Y",\n          "LastName": "Frye",\n          "CityID": 79,\n          "Address": "97 Oak Avenue"\n        },\n        {\n          "CustomerID": 2,\n          "FirstName": "Sandy",\n          "MiddleInitial": "T",\n          "LastName": "Kirby",\n          "CityID": 96,\n          "Address": "52 White First Freeway"\n        }\n      ]\n    },\n    "employees": {\n      "schema": {\n        "EmployeeID": "INTEGER",\n        "FirstName": "TEXT",\n        "MiddleInitial": "TEXT",\n        "LastName": "TEXT",\n        "BirthDate": "TEXT",\n        "Gender": "TEXT",\n        "CityID": "INTEGER",\n        "HireDate": "TEXT"\n      },\n      "sample_rows": [\n        {\n          "EmployeeID": 1,\n          "FirstName": "Nicole",\n          "MiddleInitial": "T",\n          "LastName": "Fuller",\n          "BirthDate": "1981-03-07 00:00:00.000",\n          "Gender": "F",\n          "CityID": 80,\n          "HireDate": "2011-06-20 07:15:36.920"\n        },\n        {\n          "EmployeeID": 2,\n          "FirstName": "Christine",\n          "MiddleInitial": "W",\n          "LastName": "Palmer",\n          "BirthDate": "1968-01-25 00:00:00.000",\n          "Gender": "F",\n          "CityID": 4,\n          "HireDate": "2011-04-27 04:07:56.930"\n        }\n      ]\n    },\n    "products": {\n      "schema": {\n        "ProductID": "INTEGER",\n        "ProductName": "TEXT",\n        "Price": "REAL",\n        "CategoryID": "INTEGER",\n        "Class": "TEXT",\n        "ModifyDate": "TEXT",\n        "Resistant": "TEXT",\n        "IsAllergic": "TEXT",\n        "VitalityDays": "REAL",\n        "CategoryName": "TEXT"\n      },\n      "sample_rows": [\n        {\n          "ProductID": 1,\n          "ProductName": "Flour - Whole Wheat",\n          "Price": 74.2988,\n          "CategoryID": 3,\n          "Class": "Medium",\n          "ModifyDate": "2018-02-16 08:21:49.190",\n          "Resistant": "Durable",\n          "IsAllergic": "Unknown",\n          "VitalityDays": 0.0,\n          "CategoryName": "Cereals"\n        },\n        {\n          "ProductID": 2,\n          "ProductName": "Cookie Chocolate Chip With",\n          "Price": 91.2329,\n          "CategoryID": 3,\n          "Class": "Medium",\n          "ModifyDate": "2017-02-12 11:39:10.970",\n          "Resistant": "Unknown",\n          "IsAllergic": "Unknown",\n          "VitalityDays": 0.0,\n          "CategoryName": "Cereals"\n        }\n      ]\n    },\n    "sales": {\n      "schema": {\n        "SalesID": "INTEGER",\n        "SalesPersonID": "INTEGER",\n        "CustomerID": "INTEGER",\n        "ProductID": "INTEGER",\n        "Quantity": "INTEGER",\n        "Discount": "REAL",\n        "TotalSalesAmount": "REAL",\n        "SalesDate": "TEXT",\n        "TransactionNumber": "TEXT",\n        "CityID": "INTEGER",\n        "CountryID": "INTEGER"\n      },\n      "sample_rows": [\n        {\n          "SalesID": 2719965,\n          "SalesPersonID": 9,\n          "CustomerID": 42318,\n          "ProductID": 1,\n          "Quantity": 11,\n          "Discount": 0.0,\n          "TotalSalesAmount": 931.5896897072188,\n          "SalesDate": "2018-02-22 23:01:01.500",\n          "TransactionNumber": "YN3CUQ37F4SFV93NPZAG",\n          "CityID": 64,\n          "CountryID": 32\n        },\n        {\n          "SalesID": 1825929,\n          "SalesPersonID": 15,\n          "CustomerID": 56369,\n          "ProductID": 1,\n          "Quantity": 15,\n          "Discount": 0.0,\n          "TotalSalesAmount": 585.7448791709281,\n          "SalesDate": "2018-02-07 03:39:16.290",\n          "TransactionNumber": "VD0U48DL7OCOQWVMD2VE",\n          "CityID": 26,\n          "CountryID": 32\n        }\n      ]\n    }\n  }\n}', 'chat_history': []}

ValueError: One input key expected got ['db_schema', 'user_query']

In [ ]:
print(response["intermediate_steps"][0])
print(type(response["intermediate_steps"][0]), len(response["intermediate_steps"][0]), len(response["intermediate_steps"][0]))
print(type(response["intermediate_steps"][0][0]))
print(type(response["intermediate_steps"][0][0].tool), type(response["intermediate_steps"][0][0].tool_input), type(response["intermediate_steps"][0][0].log))
print(f'\n\nTool: \n{response["intermediate_steps"][0][0].tool}')
# print(response["intermediate_steps"][0][0].tool_input)
print(f"\n\nTool input: \n{response['intermediate_steps'][0][0].tool_input}")
# print(response["intermediate_steps"][0][0].log)
print(f"\n\nLog: \n{response['intermediate_steps'][0][0].log}")

(ToolAgentAction(tool='sql_query_executor_tool', tool_input={'query': "SELECT 'cities' AS table_name, COUNT(*) AS record_count, MIN(CityID) AS min_CityID, MAX(CityID) AS max_CityID, MIN(Zipcode) AS min_Zipcode, MAX(Zipcode) AS max_Zipcode, MIN(CountryID) AS min_CountryID, MAX(CountryID) AS max_CountryID FROM cities;"}, log='\nInvoking: `sql_query_executor_tool` with `{\'query\': "SELECT \'cities\' AS table_name, COUNT(*) AS record_count, MIN(CityID) AS min_CityID, MAX(CityID) AS max_CityID, MIN(Zipcode) AS min_Zipcode, MAX(Zipcode) AS max_Zipcode, MIN(CountryID) AS min_CountryID, MAX(CountryID) AS max_CountryID FROM cities;"}`\n\n\n', message_log=[AIMessageChunk(content='', additional_kwargs={'tool_calls': [{'index': 0, 'id': 'call_0WP53DzbeTKgIO8voaFImseu', 'function': {'arguments': '{"query": "SELECT \'cities\' AS table_name, COUNT(*) AS record_count, MIN(CityID) AS min_CityID, MAX(CityID) AS max_CityID, MIN(Zipcode) AS min_Zipcode, MAX(Zipcode) AS max_Zipcode, MIN(CountryID) AS min_CountryID, MAX(CountryID) AS max_CountryID FROM cities;"}', 'name': 'sql_query_executor_tool'}, 'type': 'function'}, {'index': 1, 'id': 'call_dmxLVPaVOnp9OlbVX1phAlEQ', 'function': {'arguments': '{"query": "SELECT \'countries\' AS table_name, COUNT(*) AS record_count, MIN(CountryID) AS min_CountryID, MAX(CountryID) AS max_CountryID FROM countries;"}', 'name': 'sql_query_executor_tool'}, 'type': 'function'}, {'index': 2, 'id': 'call_rQzRyML2dHXJ506xzvisMF5T', 'function': {'arguments': '{"query": "SELECT \'customers\' AS table_name, COUNT(*) AS record_count, MIN(CustomerID) AS min_CustomerID, MAX(CustomerID) AS max_CustomerID, MIN(CityID) AS min_CityID, MAX(CityID) AS max_CityID FROM customers;"}', 'name': 'sql_query_executor_tool'}, 'type': 'function'}, {'index': 3, 'id': 'call_meSWYJydJ11IEAlPVb7rd0w7', 'function': {'arguments': '{"query": "SELECT \'employees\' AS table_name, COUNT(*) AS record_count, MIN(EmployeeID) AS min_EmployeeID, MAX(EmployeeID) AS max_EmployeeID, MIN(CityID) AS min_CityID, MAX(CityID) AS max_CityID, MIN(BirthDate) AS min_BirthDate, MAX(BirthDate) AS max_BirthDate, MIN(HireDate) AS min_HireDate, MAX(HireDate) AS max_HireDate FROM employees;"}', 'name': 'sql_query_executor_tool'}, 'type': 'function'}, {'index': 4, 'id': 'call_uKzAs1Eb9neWbpNTuTYo40Uo', 'function': {'arguments': '{"query": "SELECT \'products\' AS table_name, COUNT(*) AS record_count, MIN(ProductID) AS min_ProductID, MAX(ProductID) AS max_ProductID, MIN(Price) AS min_Price, MAX(Price) AS max_Price, MIN(CategoryID) AS min_CategoryID, MAX(CategoryID) AS max_CategoryID, MIN(VitalityDays) AS min_VitalityDays, MAX(VitalityDays) AS max_VitalityDays, MIN(ModifyDate) AS min_ModifyDate, MAX(ModifyDate) AS max_ModifyDate FROM products;"}', 'name': 'sql_query_executor_tool'}, 'type': 'function'}, {'index': 5, 'id': 'call_92Ck40OiVhFwUxLjoBhTdA5P', 'function': {'arguments': '{"query": "SELECT \'sales\' AS table_name, COUNT(*) AS record_count, MIN(SalesID) AS min_SalesID, MAX(SalesID) AS max_SalesID, MIN(SalesPersonID) AS min_SalesPersonID, MAX(SalesPersonID) AS max_SalesPersonID, MIN(CustomerID) AS min_CustomerID, MAX(CustomerID) AS max_CustomerID, MIN(ProductID) AS min_ProductID, MAX(ProductID) AS max_ProductID, MIN(Quantity) AS min_Quantity, MAX(Quantity) AS max_Quantity, MIN(Discount) AS min_Discount, MAX(Discount) AS max_Discount, MIN(TotalSalesAmount) AS min_TotalSalesAmount, MAX(TotalSalesAmount) AS max_TotalSalesAmount, MIN(SalesDate) AS min_SalesDate, MAX(SalesDate) AS max_SalesDate, MIN(CityID) AS min_CityID, MAX(CityID) AS max_CityID, MIN(CountryID) AS min_CountryID, MAX(CountryID) AS max_CountryID FROM sales;"}', 'name': 'sql_query_executor_tool'}, 'type': 'function'}]}, response_metadata={'finish_reason': 'tool_calls', 'model_name': 'gpt-5-nano-2025-08-07', 'service_tier': 'default'}, id='run--58b36e03-b258-45c3-b56e-50b236accc69', tool_calls=[{'name': 'sql_query_executor_tool', 'args': {'query': "SELECT 'cities' AS table_name, COUNT(*) AS record_count, MIN(CityID) AS min_CityID, MAX(CityID) AS max_CityID, MIN(Zipcode) AS min_Zipcode, MAX(Zipcode) AS max_Zipcode, MIN(CountryID) AS min_CountryID, MAX(CountryID) AS max_CountryID FROM cities;"}, 'id': 'call_0WP53DzbeTKgIO8voaFImseu', 'type': 'tool_call'}, {'name': 'sql_query_executor_tool', 'args': {'query': "SELECT 'countries' AS table_name, COUNT(*) AS record_count, MIN(CountryID) AS min_CountryID, MAX(CountryID) AS max_CountryID FROM countries;"}, 'id': 'call_dmxLVPaVOnp9OlbVX1phAlEQ', 'type': 'tool_call'}, {'name': 'sql_query_executor_tool', 'args': {'query': "SELECT 'customers' AS table_name, COUNT(*) AS record_count, MIN(CustomerID) AS min_CustomerID, MAX(CustomerID) AS max_CustomerID, MIN(CityID) AS min_CityID, MAX(CityID) AS max_CityID FROM customers;"}, 'id': 'call_rQzRyML2dHXJ506xzvisMF5T', 'type': 'tool_call'}, {'name': 'sql_query_executor_tool', 'args': {'query': "SELECT 'employees' AS table_name, COUNT(*) AS record_count, MIN(EmployeeID) AS min_EmployeeID, MAX(EmployeeID) AS max_EmployeeID, MIN(CityID) AS min_CityID, MAX(CityID) AS max_CityID, MIN(BirthDate) AS min_BirthDate, MAX(BirthDate) AS max_BirthDate, MIN(HireDate) AS min_HireDate, MAX(HireDate) AS max_HireDate FROM employees;"}, 'id': 'call_meSWYJydJ11IEAlPVb7rd0w7', 'type': 'tool_call'}, {'name': 'sql_query_executor_tool', 'args': {'query': "SELECT 'products' AS table_name, COUNT(*) AS record_count, MIN(ProductID) AS min_ProductID, MAX(ProductID) AS max_ProductID, MIN(Price) AS min_Price, MAX(Price) AS max_Price, MIN(CategoryID) AS min_CategoryID, MAX(CategoryID) AS max_CategoryID, MIN(VitalityDays) AS min_VitalityDays, MAX(VitalityDays) AS max_VitalityDays, MIN(ModifyDate) AS min_ModifyDate, MAX(ModifyDate) AS max_ModifyDate FROM products;"}, 'id': 'call_uKzAs1Eb9neWbpNTuTYo40Uo', 'type': 'tool_call'}, {'name': 'sql_query_executor_tool', 'args': {'query': "SELECT 'sales' AS table_name, COUNT(*) AS record_count, MIN(SalesID) AS min_SalesID, MAX(SalesID) AS max_SalesID, MIN(SalesPersonID) AS min_SalesPersonID, MAX(SalesPersonID) AS max_SalesPersonID, MIN(CustomerID) AS min_CustomerID, MAX(CustomerID) AS max_CustomerID, MIN(ProductID) AS min_ProductID, MAX(ProductID) AS max_ProductID, MIN(Quantity) AS min_Quantity, MAX(Quantity) AS max_Quantity, MIN(Discount) AS min_Discount, MAX(Discount) AS max_Discount, MIN(TotalSalesAmount) AS min_TotalSalesAmount, MAX(TotalSalesAmount) AS max_TotalSalesAmount, MIN(SalesDate) AS min_SalesDate, MAX(SalesDate) AS max_SalesDate, MIN(CityID) AS min_CityID, MAX(CityID) AS max_CityID, MIN(CountryID) AS min_CountryID, MAX(CountryID) AS max_CountryID FROM sales;"}, 'id': 'call_92Ck40OiVhFwUxLjoBhTdA5P', 'type': 'tool_call'}], tool_call_chunks=[{'name': 'sql_query_executor_tool', 'args': '{"query": "SELECT \'cities\' AS table_name, COUNT(*) AS record_count, MIN(CityID) AS min_CityID, MAX(CityID) AS max_CityID, MIN(Zipcode) AS min_Zipcode, MAX(Zipcode) AS max_Zipcode, MIN(CountryID) AS min_CountryID, MAX(CountryID) AS max_CountryID FROM cities;"}', 'id': 'call_0WP53DzbeTKgIO8voaFImseu', 'index': 0, 'type': 'tool_call_chunk'}, {'name': 'sql_query_executor_tool', 'args': '{"query": "SELECT \'countries\' AS table_name, COUNT(*) AS record_count, MIN(CountryID) AS min_CountryID, MAX(CountryID) AS max_CountryID FROM countries;"}', 'id': 'call_dmxLVPaVOnp9OlbVX1phAlEQ', 'index': 1, 'type': 'tool_call_chunk'}, {'name': 'sql_query_executor_tool', 'args': '{"query": "SELECT \'customers\' AS table_name, COUNT(*) AS record_count, MIN(CustomerID) AS min_CustomerID, MAX(CustomerID) AS max_CustomerID, MIN(CityID) AS min_CityID, MAX(CityID) AS max_CityID FROM customers;"}', 'id': 'call_rQzRyML2dHXJ506xzvisMF5T', 'index': 2, 'type': 'tool_call_chunk'}, {'name': 'sql_query_executor_tool', 'args': '{"query": "SELECT \'employees\' AS table_name, COUNT(*) AS record_count, MIN(EmployeeID) AS min_EmployeeID, MAX(EmployeeID) AS max_EmployeeID, MIN(CityID) AS min_CityID, MAX(CityID) AS max_CityID, MIN(BirthDate) AS min_BirthDate, MAX(BirthDate) AS max_BirthDate, MIN(HireDate) AS min_HireDate, MAX(HireDate) AS max_HireDate FROM employees;"}', 'id': 'call_meSWYJydJ11IEAlPVb7rd0w7', 'index': 3, 'type': 'tool_call_chunk'}, {'name': 'sql_query_executor_tool', 'args': '{"query": "SELECT \'products\' AS table_name, COUNT(*) AS record_count, MIN(ProductID) AS min_ProductID, MAX(ProductID) AS max_ProductID, MIN(Price) AS min_Price, MAX(Price) AS max_Price, MIN(CategoryID) AS min_CategoryID, MAX(CategoryID) AS max_CategoryID, MIN(VitalityDays) AS min_VitalityDays, MAX(VitalityDays) AS max_VitalityDays, MIN(ModifyDate) AS min_ModifyDate, MAX(ModifyDate) AS max_ModifyDate FROM products;"}', 'id': 'call_uKzAs1Eb9neWbpNTuTYo40Uo', 'index': 4, 'type': 'tool_call_chunk'}, {'name': 'sql_query_executor_tool', 'args': '{"query": "SELECT \'sales\' AS table_name, COUNT(*) AS record_count, MIN(SalesID) AS min_SalesID, MAX(SalesID) AS max_SalesID, MIN(SalesPersonID) AS min_SalesPersonID, MAX(SalesPersonID) AS max_SalesPersonID, MIN(CustomerID) AS min_CustomerID, MAX(CustomerID) AS max_CustomerID, MIN(ProductID) AS min_ProductID, MAX(ProductID) AS max_ProductID, MIN(Quantity) AS min_Quantity, MAX(Quantity) AS max_Quantity, MIN(Discount) AS min_Discount, MAX(Discount) AS max_Discount, MIN(TotalSalesAmount) AS min_TotalSalesAmount, MAX(TotalSalesAmount) AS max_TotalSalesAmount, MIN(SalesDate) AS min_SalesDate, MAX(SalesDate) AS max_SalesDate, MIN(CityID) AS min_CityID, MAX(CityID) AS max_CityID, MIN(CountryID) AS min_CountryID, MAX(CountryID) AS max_CountryID FROM sales;"}', 'id': 'call_92Ck40OiVhFwUxLjoBhTdA5P', 'index': 5, 'type': 'tool_call_chunk'}])], tool_call_id='call_0WP53DzbeTKgIO8voaFImseu'), [{'table_name': 'cities', 'record_count': 96, 'min_CityID': 1, 'max_CityID': 96, 'min_Zipcode': 157, 'max_Zipcode': 97859, 'min_CountryID': 32, 'max_CountryID': 32}])

TypeError: object of type 'ToolAgentAction' has no len()

In [121]:
# len(response["intermediate_steps"][0])
print(response["intermediate_steps"][0][1])

[{'table_name': 'cities', 'record_count': 96, 'min_CityID': 1, 'max_CityID': 96, 'min_Zipcode': 157, 'max_Zipcode': 97859, 'min_CountryID': 32, 'max_CountryID': 32}]

In [ ]:
# async def run_agent_with_tool(query: str):
#   """Invokes the agent executor with a query and prints the final response."""
#   print(f"\n--- üèÉ Running Agent with Query: '{query}' ---")
#   try:
#       response = await agent_executor.ainvoke({"user_query": query})
#       print("\n--- ‚úÖ Final Agent Response ---")
#       print(response["output"])
#   except Exception as e:
#       print(f"\nüõë An error occurred during agent execution: {e}")

In [ ]:
# import os, getpass
# import asyncio
# import nest_asyncio
# from typing import List
# from dotenv import load_dotenv
# import logging

# async def main():
#     """Runs all agent queries concurrently."""
#     tasks = [
#         run_agent_with_tool("What is the capital of France?"),
#         run_agent_with_tool("What's the weather like in London?"),
#         run_agent_with_tool("Tell me something about dogs.") # Should trigger the default tool response
#     ]
#     await asyncio.gather(*tasks)

# nest_asyncio.apply()
# asyncio.run(main())

--- üèÉ Running Agent with Query: 'What is the capital of France?' ---

--- üèÉ Running Agent with Query: 'What's the weather like in London?' ---

--- üèÉ Running Agent with Query: 'Tell me something about dogs.' ---


> Entering new AgentExecutor chain...


> Entering new AgentExecutor chain...


> Entering new AgentExecutor chain...

üõë An error occurred during agent execution: 'Input to ChatPromptTemplate is missing variables {\'\\n    "tables"\'}.  Expected: [\'\\n    "tables"\', \'user_query\'] Received: [\'user_query\', \'intermediate_steps\', \'agent_scratchpad\']\nNote: if you intended {\n    "tables"} to be part of the string and not a variable, please escape it with double curly braces like: \'{{\n    "tables"}}\'.\nFor troubleshooting, visit: https://python.langchain.com/docs/troubleshooting/errors/INVALID_PROMPT_INPUT '

üõë An error occurred during agent execution: 'Input to ChatPromptTemplate is missing variables {\'\\n    "tables"\'}.  Expected: [\'\\n    "tables"\', \'user_query\'] Received: [\'user_query\', \'intermediate_steps\', \'agent_scratchpad\']\nNote: if you intended {\n    "tables"} to be part of the string and not a variable, please escape it with double curly braces like: \'{{\n    "tables"}}\'.\nFor troubleshooting, visit: https://python.langchain.com/docs/troubleshooting/errors/INVALID_PROMPT_INPUT '

üõë An error occurred during agent execution: 'Input to ChatPromptTemplate is missing variables {\'\\n    "tables"\'}.  Expected: [\'\\n    "tables"\', \'user_query\'] Received: [\'user_query\', \'intermediate_steps\', \'agent_scratchpad\']\nNote: if you intended {\n    "tables"} to be part of the string and not a variable, please escape it with double curly braces like: \'{{\n    "tables"}}\'.\nFor troubleshooting, visit: https://python.langchain.com/docs/troubleshooting/errors/INVALID_PROMPT_INPUT '